$color: #191970;
$hover-color: #48d1cc;

.Link {
  color: $color;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background 200ms;

  &::after {
    width: 100%;
    height: 1px;
    content: "";
    background: linear-gradient(to right, $color, rgba(255, 255, 255, 0));
    display: block;
    transition: background 200ms;
  }

  &:hover::after {
    background: linear-gradient(to right, $color, $hover-color);
  }
}
