.header {
  font-size: 14px;
  margin-bottom: -2px;
}

.time {
  font-family: 'Courier New';
  font-weight: 700;
}

.description {
  color: #666;
  font-size: 13px;
}

.content {
  margin-top: 2px;
}
