.content {
  line-height: 1.3;
  color: $linkColor;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background 200ms;

  &:hover {
    color: $linkHoverColor;
  }
}

.line {
  height: 1px;
  margin-top: 2px;
  background: $linkUnderlineColor;
  display: block;
}
